<!--
  Generated template for the Categories component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-content class="card-background-page">

  <button ion-button (click)="companyPage();" icon-only clear><img src="assets/img/Graphic_Design.jpeg"/>
    <div class="card-title">Graphic Design</div>
    <div class="card-subtitle">500 COMPANIES</div>
  </button>

  <ion-card>
    <img src="assets/img/Natural_Hair.jpg" alt="Photography"/>
    <div class="card-title">Hair Styling</div>
    <div class="card-subtitle">150 COMPANIES</div>
  </ion-card>

  <ion-card>
    <img src="assets/img/Graphic_Design.jpeg"/>
    <div class="card-title">Graphic Design</div>
    <div class="card-subtitle">500 COMPANIES</div>
  </ion-card>

  <ion-card>
    <img src="assets/img/Photography.jpg"/>
    <div class="card-title">Photography</div>
    <div class="card-subtitle">200 COMPANIES</div>
  </ion-card>

  <ion-card>
    <img src="assets/img/Videography.jpeg"/>
    <div class="card-title">Video Production</div>
    <div class="card-subtitle">30 COMPANIES</div>
  </ion-card>

</ion-content>
