<!--
  Generated template for the MyContent component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-card>
  <img src="assets/img/Videography.jpeg"/>
  <ion-card-content>
    <ion-card-title>
      Wolf Photography and Videography Services
      </ion-card-title>
    <p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
    </p>
    <button ion-button icon-only small clear>Check Availability </button>
  </ion-card-content>
</ion-card>


<ion-card>
  <img src="assets/img/Product.jpg" alt="Second Business"/>
  <ion-card-content>
    <ion-card-title>
      J & B Photography
      </ion-card-title>
    <p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
    </p>
      <button ion-button icon-only small clear>Check Availability </button>
  </ion-card-content>
</ion-card>

<ion-card>
<img src="assets/img/Family_One.jpg" alt="Second Business"/>
<ion-card-content>
  <ion-card-title>
Wedding and Family Photography    </ion-card-title>
  <p>
    The most popular industrial group ever, and largely
    responsible for bringing the music to a mass audience.
  </p>
    <button ion-button icon-only small clear>Check Availability </button>
</ion-card-content>
</ion-card>

<ion-card>
<img src="assets/img/Product1.jpg" alt="Second Business"/>
<ion-card-content>
  <ion-card-title>
Graduation Photos  </ion-card-title>
  <p>
    The most popujlar industrial group ever, and largely
    responsible for bringing the music to a mass audience.
  </p>
    <button ion-button icon-only small clear>Check Availability </button>
</ion-card-content>
</ion-card>
