page-checkout {

}

.policies {
  display: inline-flex;
  padding-right: auto;
}

.left {
}
.right {
  padding-left: 30px;
}

.credit-card {
  display: inline-flex;
}
.credit-card-number {
  float: right;
}
