page-calendar {
  font-size:0px;
}

.calendar button {
  font-size: 12px;
  width: 30%;
  margin: 3px;
  margin-top: 10px;
  text-align: center;
  
}
.MM {
  font-size: 15px;
  text-align: center;
  padding-bottom: 20px;

}
