page-company-one {

}
apt-icon {
  color: white;
}
apt-btn {
  float:right;
}

ion-navbar button {
  float:right;
}
.company-image {
  height:20%;
}
.company-betaImage {
  text-align: center;
}

.portfolio {
  height: 20em;
}
.info {
  margin-top: 0;
}
.business-name {
  text-align: center;
}

.biocompany {
  padding-left:15%;
  width:90%;
  vertical-align:middle;
}

.bio {
  width: 100%;
  display: inline-block;
  vertical-align: center;
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
}
