page-company-one {

}

apt-btn {
  float:right;
}

ion-navbar button {
  float:right;
}
.company-image {
  height:20%;
}
.company-betaImage {
  text-align: center;
}

.portfolio {
  height: 20em;
}
.info {
  margin-top: 0;
}
.business-name {
  text-align: center;
}
